$namespace: "button";

.#{$namespace} {
  display: inline-block;
  padding: $common-space;
  text-align: center;
  border-width: 1px 1px 3px;
  border-color: $color-border;
  border-style: solid;
  background-color: $color-background;
  color: $color-font-lightest;
  text-decoration: none;
  transition: color $common-transition, border-color $common-transition;
  &:hover {
    color: $color-font;
    border-color: $color-brand;
  }
}

.#{$namespace}--more {
  display: block;
  margin: $common-space auto 0;
  width: 200px;
}
