$namespace: card;

.#{$namespace}-wrap {
  @extend %clearfix;
  margin: ($common-space-half / -2);
  @include media(mobile) {
    margin-left: 0;
  }
}
.#{$namespace} {
  float: left;
  width: 25%;
  padding: ($common-space-half / 2);
  background-color: transparent;
  text-decoration: none;
  &[data-visible=hidden] {
    display: none;
  }
  &[data-visible=visible] {
    display: block;
  }
  @include media(tablet) {
    width: 50%;
  }
  @include media(mobile) {
    float: none;
    width: 100%;
  }
}
.#{$namespace}__inner {
  position: relative;
  padding: $common-space $common-space 0;
  height: $card-height;
  background-color: #fff;
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid $color-border;
    background-color: transparent;
    transition: background-color $common-transition, border-color $common-transition;
  }
  &:hover {
    &:before {
      border-color: $color-brand;
      background-color: rgba(255,255,255,.3);
    }
  }
  .info {
    position: relative;
    z-index: 1;
    text-align: center;
  }
  .thumbnail {
    position: absolute;
    top: 60px;
    left: $common-space;
    right: $common-space;
    bottom: 0;
    background-size: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: $color-background;
  }
}
.#{$namespace}--more {
  min-width: 0;
  text-align: center;
  &:before {

  }
}